#map {
    /* position: fixed;
    bottom: 16px;
    right: 16px; */
    height: 350px;
    width: 100%;
    border-radius: 15px;
    /* allow touch interactions for maps on mobile */
    touch-action: auto;
}

.leaflet-bottom.leaflet-right,
.leaflet-top.leaflet-left {
    display: none;
}

.locationsForm {
    display: none;
    flex-direction: column;
}