#map {
    /* position: fixed;
    bottom: 16px;
    right: 16px; */
    min-height: 250px;
    height: auto;
    width: 100%;
    /* outline: 1px solid red; */
    border-radius: 15px;
    /* allow touch interactions for maps on mobile */
    touch-action: auto;
}

.leaflet-bottom.leaflet-right,
.leaflet-top.leaflet-left {
    display: none;
}

.locationsForm{
    display: none;
}