#map {
    /* position: fixed;
    bottom: 16px;
    right: 16px; */
    height: 150px;
    width: 100%;
    /* outline: 1px solid red; */
    border-radius: 15px;
    touch-action: none;
}

.leaflet-bottom.leaflet-right,
.leaflet-top.leaflet-left {
    display: none;
}

.locationsForm{
    display: none;
}