@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*/@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*/
/* @font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  
  font-family: 'JetBrains Mono', monospace;
}*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* font-family: 'JetBrains Mono', monospace; */

}

body,
html {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  margin: 0;
  font-family: sans-serif;
}

/* VARIABLER! */
:root {
  --primary-color: #FF4747;
  --primary-color-light: #FF9292;
  --background-color: #F2F2F2;
  --background-color-2: #F2F2F295;
  --text-color: #000000;
  --card-background: #FFFFFF;
}

/* DarkMode! */


/* RESPONSIVE! */

header {
  padding: 0px 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.search {
  display: flex;
  justify-items: center;
  gap: 4px;
  width: 100%;
}

.searchAndFilters {
  padding: 4px 0px;
  width: 100%;
}

.searchInput {
  gap: 8px;
  display: flex;
  border-radius: 9px;
  margin: 0 8px;
  /* background-color: #ebebeb; */
  border: 1px solid #BF171C;
  width: 100%;
  height: 43px;
  border-radius: 8px;
  padding: 0px 12px;
  align-items: center;
}




.filters button {
  height: auto;
  background-color: #fff;
  /* border: 1px solid #A1A1A1; */
  padding: 8px 12px;
  border-radius: 8px;
  color: #0a0a0a;
  fill: #0a0a0a;

}

button,
input {
  all: unset;
}

/* .searchInput {
    height: 43px;
    border-radius: 8px;
    padding: 0px 12px;
    background-color: #ebebeb;

} */

button svg,
.searchInput svg {
  height: 18px;
  width: 18px;
}

.searchInput input {
  font-family: "Inter", sans-serif;
  flex: flex-grow;
  flex-grow: 1;
  width: 100%;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::placeholder {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: #000;
}

/* filters and chips */
.filters {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  width: 100%;
  overflow-x: auto;
  gap: 8px;
  position: relative;
}

.filters::-webkit-scrollbar {
  display: none;
  /* hide scrollbar (Chrome, Safari) */
}

.chip {
  /* background: #FF9292; */
  /*active FF4747*/
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  border-radius: 16px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #A1A1A1;
  color: #0a0a0a;
  height: 32px;
  font-weight: 200;
  white-space: nowrap;
  user-select: none;
  outline: none;
}

/* Prevent focus outline on chips */
.chip:focus {
  outline: none;
}

.chip:hover {
  cursor: pointer;
  /* background: #FF4747; */
}


/*CARD COMPONENT*/
main {
  padding: 16px;
  padding-top: 160px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}

main::after {
  content: "";
  flex: auto;
}

.card {
  font-family: 'Inter', sans-serif;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  /* max-width: 169px; */
  width: 140px;
  height: 215px;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px #00000025;
}

.card img {
  width: 100%;
  padding: 8px;
  height: auto;
}

.card h2 {
  width: 100%;
  font: 'inter';
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

.card__imageHolder {
  width: 120px;
  /* max-width: 145px; */
  height: 120px;
  /* max-height: 145px; */
  border-radius: 8px;
  background: #E3E3E3;
  display: flex;
  justify-content: center;
  position: relative;
}

.card__rating {
  background: #878787;
  border-radius: 9px;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 2px 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.card__rating svg {
  margin-right: 4px;

}

.card__info {
  display: flex;
  width: 100%;
  font-weight: 700;
  justify-content: space-around;
  align-items: center;
}

.card__infoTAG {
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  align-items: center;
}

.card__infoTAG svg {
  height: 11px;
  width: 11px;
  color: #6f6f6f;
  margin-right: 4px;
}

/* Overlay + drawer */


.overlay {
  font-family: "Inter", sans-serif;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 75vh;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: fixed;
  bottom: 0;
  z-index: 110;
  border-radius: 18px;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Overlay active state for slide up animation */
.overlay.overlay--active {
  transform: translateY(0);
}

.overlay__header {
  padding: 13px;
}

.topInfo {
  display: flex;
  padding: 0px 33px;
  display: flex;
  justify-content: space-around;
}

.title {
  margin: 0px;
  font-size: 20px;
}

.title h2,
.shortDesc {
  text-align: center;
}

.gameinfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.shortDesc {
  font-size: 12px;
}

.overlay__main {}

.overlay__main img {
  width: 170px;
  height: 170px;
}

.drawer.open {
  max-height: 450PX;
}

.drawer {
  display: flex;
  position: absolute;
  border-radius: 24px 24px 0px 0px;
  background: #fff;
  bottom: 0px;
  width: 100%;
  max-height: 80px;
  flex-direction: column;
  align-items: center;
  transition: max-height 0.4s ease;
  padding: 8px;
  box-shadow: 4px 4px solid #00000025;
}

.drawHandle {
  background: #BF171C;
  height: 5px !important;
  width: 48px;
  border-radius: 8px;
  flex-shrink: 0;
}

.drawer p {
  padding: 8px;
  font-weight: 100;
  font-size: 14px;
  text-wrap: pretty;
}

.overlay .card__rating {
  height: 22px;
  width: 50px;
  background: #878787;
  border-radius: 9px;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 13px;
  padding: 0 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.rating-dices {
  display: flex;
  align-items: center;
  gap: 2px;
}

.rating-dices svg {
  animation: roll-dice 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  /* Each dice will get a different delay using nth-child */
}

.rating-dices svg:nth-child(1) {
  animation-delay: 0s;
}

.rating-dices svg:nth-child(2) {
  animation-delay: 0.1s;
}

.rating-dices svg:nth-child(3) {
  animation-delay: 0.2s;
}

.rating-dices svg:nth-child(4) {
  animation-delay: 0.3s;
}

.rating-dices svg:nth-child(5) {
  animation-delay: 0.4s;
}

.rating-dices svg:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes roll-dice {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.3) rotate(180deg);
    opacity: 1;
  }

  80% {
    transform: scale(0.9) rotate(270deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.overlay .card__rating svg {
  margin-right: 4px;
}

.info {
  padding: 10px 55px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boks {
  width: 50%;
  height: 70px;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 14px;
}

.boks span {
  padding-top: 4px;
  font-weight: 500;
  font-size: 18px;
}

.chip-dropdown {
  /* position: fixed; */
  /* z-index: 10000; */
  padding: 10px;
  display: flex;
  overflow-x: auto;
  /* flex-direction: column; */
  gap: 4px;
  background: #fff;
  border-radius: 8px;
  /* width: 100px; */
  margin: 8px 0px;
}

.chip-dropdown .chip {
  border: 1px solid #FF4747;
  background-color: #fff;
  color: #FF4747;
  height: 28px;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 8px;
}

.chip-dropdown::-webkit-scrollbar {
  display: none;
  /* hide scrollbar (Chrome, Safari) */
}

/* Invisible overlay for sub-filters dropdown */
.sub-filters-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 199;
  display: none;
}

/*chips overlay from ai*/
/* NOT WORKING YET */

.sub-filters {
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: space-around;
  padding: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  gap: 8px;
  position: absolute;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  z-index: 200;
  /* Increased z-index for higher stacking */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Adjust for centering */
}

.sub-filters .sub-chip {
  border: 1px solid #A1A1A1;
  background-color: #fff;
  color: #0a0a0a;
  height: 28px;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 8px;
}

.sub-filters .sub-chip.active {
  background: #FF4747;
  color: #fff;
}

.sub-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.chip.active+.sub-filters {
  display: block;
  position: relative;
  margin-top: 5px;
}

.selected-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 8px;
}

.selected-chip {
  background-color: #fff;
  border: 2px solid #BF171C;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 12px;
  color: #721c24;

  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-chip button {
  background: none;
  border: none;
  cursor: pointer;
}


.game-list-empty {
  text-align: center;
  margin-top: 160px;
  width: 100%;
}

.shake {
  animation: shake 900ms;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}



@keyframes shake {

  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }

  10% {
    transform: translateX(-10px) rotate(-5deg);
  }

  20% {
    transform: translateX(10px) rotate(5deg);
  }

  30% {
    transform: translateX(-10px) rotate(-5deg);
  }

  40% {
    transform: translateX(10px) rotate(5deg);
  }

  50% {
    transform: translateX(-10px) rotate(-5deg);
  }

  60% {
    transform: translateX(10px) rotate(5deg);
  }

  70% {
    transform: translateX(-10px) rotate(-5deg);
  }

  80% {
    transform: translateX(10px) translateY(10px) rotate(5deg);
  }

  90% {
    transform: translateX(-10px) translateY(-10px) rotate(-5deg);
  }
}

.brutal-shake {
  animation: brutal-shake 1s;
  animation-iteration-count: 3;
  animation-fill-mode: both;
}

.overlay-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 44px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content button {
  font-size: 18px;
  margin-top: 10px;
  padding: 5px 10px;
  background: #FF4747;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #FF9292;
}


/* nice picker NOP and Difficulty level. */

/* html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
} */

#form-wrapper {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

form {
  width: 90%;
  max-width: 500px;
}

form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}

form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

form #debt-amount-slider input,
form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}

form #debt-amount-slider input {
  display: none;
}

form #debt-amount-slider input:checked+label::before {
  font-weight: 800;
  opacity: 1;
}

form #debt-amount-slider input:checked+label::after {
  border-width: 2px;
  border-color: var(--primary-color);
  transform: translate(-50%, -50%) scale(1.2);
}

form #debt-amount-slider input:checked~#debt-amount-pos {
  opacity: 1;
}

form #debt-amount-slider input:checked:nth-child(1)~#debt-amount-pos {
  left: 10%;
}

form #debt-amount-slider input:checked:nth-child(3)~#debt-amount-pos {
  left: 30%;
}

form #debt-amount-slider input:checked:nth-child(5)~#debt-amount-pos {
  left: 50%;
}

form #debt-amount-slider input:checked:nth-child(7)~#debt-amount-pos {
  left: 70%;
}

form #debt-amount-slider input:checked:nth-child(9)~#debt-amount-pos {
  left: 90%;
}

form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}

form:valid #debt-amount-slider input+label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}

form:valid #debt-amount-slider input:checked+label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}

form+button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

form+button:hover {
  background: #000;
  color: #fff;
}

form+button:hover:active {
  transform: scale(0.9);
}

form+button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}

form+button:focus::before {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

form+button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "Ôè¥";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}

form:invalid+button {
  pointer-events: none;
  opacity: 0.25;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }

  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }

  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}


.footer-nav {
  padding: 0px 0px;
  box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}

.chip-info {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--background-color-2);
  color: #333;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 12px;
  z-index: 100;
}

.back {
  fill: #000000;
  width: 44px;
  height: 44px;
}


.locationData,
.playersForm,
.locationsForm,
.timeForm,
.difficultyForm,
.genreForm,
.sortForm {
  display: none;
  justify-content: space-around;
}

.active {
  border-color: var(--primary-color);
  font-weight: 600;
  /* background-color: var(--primary-color-light); */
}

.locationsForm {
  padding: 0px 16px;
}


.playersForm {
  height: 100px;
  padding: 16px 0px;
}

.towns {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 16px 0px;
  justify-content: space-between;
}

.timeForm h2 {
  margin: 0 0 1.5rem 0;
  color: #333;
}

.timeForm .radio-group {
  display: flex;
  gap: 2rem;
  position: relative;
}

.timeForm input[type="radio"] {
  display: none;
}

.timeForm label {
  cursor: pointer;
  padding: 0.5rem 0;
  color: #666;
  transition: color 0.3s;
  position: relative;
}

.timeForm label:hover {
  color: #333;
}

.timeForm input[type="radio"]:checked+label {
  color: var(--primary-color);
  font-weight: 500;
}

.timeForm .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--primary-color);
  transition: all 0.3s ease;
  pointer-events: none;
}

.timeForm form {
  display: flex;
  justify-content: space-evenly;
}

.difficultyForm form {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  gap:4px;
}

.genreForm .chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 16px;
}

.sortForm {
  padding: 8px 16px;

}